/* the * symbol is a 'select all' operator essentially. So the code I have below changes all the fonts on the page to
Kumbh Sans-unless Kunbh Sans is not available-in which case sans serif (a default font) is used . The code 
below also makes sure that the wesbsite looks the same on all browsers by always making sure there are no margins
or padding on the edges.*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  /* background-color: #131311; */
}

/*This is the whole space defining the navbar - in this case used to define the background*/
.navbar{
background: #131313;
height: 80px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
position: sticky;
top: 0;
z-index: 999;
}
/* This is the containter  for all navbar elements. Anything applied to this will apply to the space  the navbar items occupy.*/
.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding:  0 50px;
}
/* This can be used for an image icon element in html. It is not currently used. */
#navbar__icon{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 10px;
  margin: 0 auto;
  padding:  0 0px;
  cursor: pointer;
}

/* Text in the upper left hand corner of the screen */
#navbar__label__text{
  background-image: linear-gradient(to top, #6291f7 0%, #3753a1 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;  
  font-size: 2rem;
  padding: 1rem;
}

/* All navbar items will have a height of 58 pixles */
.navbar__item{
  height: 58px;
}


.navbar__menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__links{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  transition: all .3s ease;
}
.navbar__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0 1rem;
  width: 100%;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #6291f7;
  color: #ffffffff;
  transition:  all .3s ease;
}

.button:hover{
  background-color:  #4162bc;
  transition: all .5s ease;
}

.navbar__links:hover{
  color: #6291f7;
  transition: all .3s ease;
}


/* I want this to trigger when the below conditions are met*/
@media screen  and (max-width: 960px){
  .navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }
  .navbar__menu.active{
    background: #131313;
    top:100%;
    opacity:1;
    transition: all 0.5 ease;
    z-index: 99;
    height: 50vh;
    font-size:  1.6rem;
  }
  #navbar__logo{
    padding: 25px;
  }
  .navbar__toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
  .navbar__item{
    width: 100%;
  }
  .navbar__links{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__btn{
    padding-bottom: 2rem;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0;
  }
  .navbar__toggle .bar{
    display: block;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero Setion */
.main{
  background-color: #131313;
}
.main__container {
  display: grid;
  place-items: start center;
  margin: 0 auto;
  height: 100vh;
  background-color: #131313;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}




.projects__links{
  padding-top: 10px;
  background-color: #6291f7;
  background-size: 100%;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;

}




.main__header{
  display: grid;
  place-items: center;
  place-content: center;
  }
  
  .main__header h1{
    padding-top: 10%;
    font-size: 10rem;
    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
    background-size: 100%;
    background-size: 100%;
    background-clip: text;
    place-content: center;
    -webkit-background-clip: text;  
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .main__header h2{
    font-size: 2rem;
    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
    background-size: 100%;
    background-size: 100%;
    background-clip: text;
    place-content: center;
    -webkit-background-clip: text;  
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .main__header h3{
    padding-top: 10%;
    font-size: 2rem;
    background-color: #ffffff;
    background-size: 100%;
    background-clip: text;
    place-content: left;
    -webkit-background-clip: text;  
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .main__header a{
    text-decoration: none;
    font-weight: bold ;
    opacity: 1;
    transform: translateX(-100%);
    font-size: 3rem;
    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
    background-size: 100%;
    background-clip: text;
    place-content: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }


.main__menu__header{
display: grid;
place-items: center;
place-content: center;
}

.main__menu__header h1{
  padding-top: 10%;
  font-size: 10rem;
  background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
  background-size: 100%;
  background-size: 100%;
  background-clip: text;
  place-content: center;
  -webkit-background-clip: text;  
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__menu__header a{
  text-decoration: none;
  font-weight: bold ;
  opacity: 0;
  transform: translateX(-100%);
  font-size: 10rem;
  background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
  background-size: 100%;
  background-clip: text;
  place-content: center;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__menu__header a.slideIn {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
  transform: translateX(0%);
}

.main__menu__header a.slideOut {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
  transform: translateX(100%);
}

.main__menu__header a.restart_loop{
opacity: 0;
transform: translateX(-100%);
}


.blogBody {
  color: #fff;
}

.main__btn{
font-size: 1rem;
background-image: linear-gradient(to top, #6291f7 0%, #3753a1 100%);
padding: 14px 32px;
border: none;
border-radius: 4px;
color: #fff;
margin-top: 2rem;
cursor: pointer;
position: relative;
outline: none;
transition: all 0.35s;
z-index: 1;
}
.main__btn {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}
.main__btn:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #3753a1;
  transition: all, 0.35s;
  border-radius: 4px;
  z-index: -1;
}

.main__btn:hover{ 
  color:#fff
}
.main__btn:hover:after{
  width:100%
}

/* Horizontal Bar */
hr {
  border-top: 2px solid #ccc;
  width: 100%;

}